body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
   }
   
   header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
   }
   
   .blog-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    margin: 20px auto;
   }
   
   .blog-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
   }
   
   .blog-content {
    padding: 16px;
   }
   
   .blog-content h2 {
    font-size: 18px;
    margin: 0;
   }
   
   .blog-content p {
    font-size: 14px;
    margin: 10px 0;
   }
   
   .blog-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
   }
   
   .blog-content a:hover {
    text-decoration: underline;
   }
   