/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(88, 92, 99, 0.075);
}

/* Style for the navigation bar */
nav {
    background-color: #460938;              /* #b9a847;*/
    color: rgba(131, 106, 106, 0.432);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 0px; /* Smoothen the border radius */
}

/* Style for the navigation links */
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
}

/* Style for the links */
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px; /* Increase padding for buttons */
    border-radius: 5px; /* Smoothen the border radius for buttons */
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

/* Style for the home button */
.home-button {
    margin-right: auto;
}

/* Hover effect */
a:hover {
    background-color: #555; /* Change background color on hover */
}

/* Add Blog button style */
.add-blog-button {
    margin-left: 20px;
}


/* Add this CSS for styling the place widgets */
.places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Add negative margin to compensate for spacing */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place-widget {
    
    max-width: calc(33.33% - 20px); /* Adjust width for responsive design (3 columns) and spacing */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Add space between widgets */
    background-color: #f5f5f5;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-basis: calc(50% - 20px); /* Set the width to 50% and adjust for spacing */
    margin-left: 10%;
    margin-right:5% ; /* Add spacing between widgets */
    
}

.place-widget:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.place-widget a {
    text-decoration: none;
    color: #333;
}

.place-widget h3 {
    margin-top: 0;
}

.place-widget img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.place-widget p {
    margin-top: 10px;
    font-size: 14px;
}


/* Rest of your CSS styles for the navigation bar and other elements */
